<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
</head>
<body>
    <h1 style="text-align:center; color:blue;"><%= today %></h1>
    <ul>
    <% 
    for(let i=0; i<nums.length; i++){ 
    %>
    <li><%= nums[i] %></li>  
    <%
    }
    %>
    </ul>
</body>
</html>