<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
</head>
<body>
    <h1 style="text-align:center; color:blue;"><%= today %></h1>
    <ul>
    <% 
    for(let i=0; i<nums.length; i++){ 
    %>
    <li><%= nums[i] %></li>  
    <%
    }
    %>
    </ul>

    <hr />

    <%
    nums.forEach(function(value,index){
    %>
        <%-`${value}-${index}<br/>`%>
    <%
    })
    %>


    <!--<script>
        let nums = [10, 20, 30]
        let total = 0;
        nums.foreach(function (value, index) {
            total += value;
            console.log(`${value}-${index}<br>`);
        });
    </script>-->
</body>
</html>